<?xml version="1.0" ?>
<model>
    <name>sk_building_floor_plan</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>jypark</name>
        <email>jiyoonpark0207@gmail.com</email>
    </author>
    <description>sk building floor plan</description>
</model>
